body {
    font-family: sans-serif;
    background: linear-gradient(#191970, #87CEEB);
}

h1 {
    color: whitesmoke;
}

.intro {
    height: 100vh;
    width: 100%;
    display: inline-block;
}

.center-intro {
    color: whitesmoke;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

i.em-svg {
    height: 2.0em;
    width: 2.0em;
    margin-left: 45%;
}