
.container {
    min-height: 100vh;
    margin: 0 auto;

}


.main{
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.header { 
    margin: 48px auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.header-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 24px;
    width: 50%;
    max-width: 581px;
}

.header-name {
    margin: 0;
    font-size: 3rem;
}

.header-title { 
    opacity: 0.5;
    font-size: 1.5rem;
    margin: 6px 0;
}

.nathan {
    width: 50vw;
    border-radius: 50%;
    margin: 24px;
    /* max width is the size of the image so as it doesnt distort */
    max-width: 500px 
}

.button-container {
    margin: 24px 0;
    font-size: 1.2rem;
}

.button {
    text-decoration: none;
    color: inherit;
    margin-right: 12px;
    font-size: 1.5rem;
    border-bottom: 2px solid var(--accent-color);
}

.details {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 24px;
}

.description {
    font-size: 1.8rem;
    margin-bottom: 24px;
}

@media screen and (max-width: 600px) {
    .button {
        font-size: 1.3rem;
    }

    .header {
        margin: 0;
        display: block;
        width: 100vw;
    }

    .header-name {
        font-size: 2.2rem;
    }

    .header-content {
        width: unset;
        margin: 0 24px;
    }
    
    .header-title {
        font-size: 1.3rem;
    }
    .details {
        max-width: 300px;
    }
    
    .description {
        font-size: 1.1rem
    }

    .nathan { 
        /* display: none; */
        width: calc(100% - 48px);
        /* margin: 0; */
        /* border-radius: 0; */
    }
    
}

@media screen and (max-width: 1024px) {
    .header-content, .nathan{
        width: 75%;
    }

    .header {
        flex-flow: column;
    }
}