:root {
    --main-color: #F1F5F2;
    --secondary-color: #011C27;
    --accent-color: #35A7FF;
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #011C27;
        --secondary-color: #F1F5F2;
        --accent-color: #FFF94F;
    }
}

body { 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    color: var(--secondary-color);
    background-color: var(--main-color);
}